p{
    
    color: currentColor;
    
    
}

h2{
    
    color: darkorange;
    
    
}

h1{
    
    color: cornflowerblue;
    
    
    
    
}

h3{
    
    
    color: darkturquoise;
    
    
    
}
