p{
    
    color: currentColor;
    font-size: 30px;
    
}

h2{
    
    color: darkorange;
    font-size: 45px;
    
}

h1{
    
    color: cornflowerblue;
    
    font-size: 50px;
    
    
}

h3{
    
    
    color: darkturquoise;
    font-size: 40px;
    
    
}
img{
      
    outline-width: thin;
    outline-color: dimgrey;
    outline-style: solid;
     width: 50%;
    height: auto;
    
    
    
    
    
    
    
}
